@{
    Layout = "_Layout";
}

<div class="detail-container">
 <div class="about">
<h2>About us</h2>
<br />
<p>We are a new kind of library and soon to be bookshop.</p>
<br />
<p> You will be able to buy and borrow books here.</p> 
<br />
<p>You're also welcome to donate books to our library.</p>
</>
    </div>
</div>