@model BookStoreMvcAppW.Models.Domain.Book

@{
}
<div class="book-detail w-80 m-auto">
    <div class="img-container">
        @*<img alt="image" src="/Uploads/@Model.BookImage">*@
        @*<img alt="image" src="/Uploads/@(Model.BookImage ?? "default-image.jpg")">*@
        <img alt="image" src="/Uploads/@(Model.BookImage?.ToString())">


    </div>

    <div class="detail-container">
        <h3>Title: @Model.Title</h3>
        <h4>Author: @Model.Author</h4>
        <h4>Genre: @Model.GenreNames</h4>
        <h4>@Model.ReleaseYear</h4>
        <p>As Werther intersects with the world,
            he paints a picture of the monotony</p>
        <p> of daily existence relieved by the 
            lofty beauty of the natural world.</p>
        <p> In nature’s vistas, he finds relief from his own introspective,</p>
         <p>melancholy thoughts.
        </p>
    </div>
</div>
<div class="w-80 m-auto">
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>
