@model IEnumerable<BookStoreMvcAppW.Models.Domain.Genre>
@{
    Layout = "_Layout";
}

<div class="tbl-container">
    <h2>All Genres</h2>
    <br />
    <h3>Choose to Edit or Delete a genre</h3>
    <br/>

    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach(var item in Model){
        <tr>
            <td>@item.GenreName</td>
            <td>
                <a href="/Genre/Update?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Are you sure you want to delete this genre?')" href="/Genre/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
     
    </table>
    <div class="input-container">
        <a href="/Genre/Create" class="btn btn-sec">Create new Gendre</a>
    </div>
    <div class="input-container">
        <a href="/Home/Index" class="btn btn-sec">Back</a>
    </div>
</div>


<!--From double in Book 
@{
    Layout = "_Layout";
}

<div class="tbl-container">
    <h2>Genres</h2>
    <br />
    <p>Choose to Edit or Delete a Genre</p>
    <br/>

    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach(var item in Model){
        <tr>
            <td>@item.GenreName</td>
            <td>
                <a href="/Genre/Update?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Are you sure you want to delete this genre?')" href="/Genre/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
     
    </table>
    <div class="input-container">
        <a href="/Genre/Create" class="btn btn-sec">Back</a>
    </div>
</div>
-->